<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<div th:fragment="navBar">
	<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Calendário de Feriados</title>

<link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<link href="bootstrap/css/scrolling-nav.css" rel="stylesheet">
<link href="css/lista.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="/stock-exchange/">Calendário
					de Feriados da Bolsa de Valores</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link js-scroll-trigger"
							href="/stock-exchange/json">Dados Json</a></li>
					</ul>
				</div>
			</div>
		</nav>
</div>

<section>
	<div id="section" th:fragment="body">
		<header class="bg-primary text-white">
			<div class="container text-center">
				<h1>Bem-vindo ao Calendário de Feriados</h1>
				<p class="lead">Dados 100% confiáveis, extraidos da página
					oficial da Bolsa brasileira.</p>
			</div>
		</header>
		<script src="bootstrap/vendor/jquery/jquery.min.js"></script>
		<script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
		<script src="bootstrap/js/scrolling-nav.js"></script>
	</div>
</section>

<section>
	<div th:fragment="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2>Sobre esta página</h2>
					<p class="lead">Informações de grande relevância sobre todos os
						feriados anuais que afetam as operações da bolsa de valores
						diretamente.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div th:fragment="footer">
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright © Stock-Exchange
					2019</p>
			</div>
		</footer>
	</div>
</section>

</body>
</html>